<!--admin-->
{% extends "./base.html" %}
{% block title %}Gestión de Reservaciones{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilosSolicitudes.css' %}">
{% endblock %}

{% block body %}

{% if messages %}
<div class="alert-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="container my-5">
    <h1 class="solicitud-title text-center mb-4">Administración de Solicitudes de Laboratorios</h1>

    <!-- Filtros y Búsqueda -->
    <form method="GET" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <select name="estado" class="form-control">
                    <option value="en_revision">en_revision</option>
                    <option value="pendiente">Pendiente</option>
                    <option value="aprobada">Aprobada</option>
                </select>
            </div>
            <!-- Filtro por laboratorio -->
            <div class="col-md-3">
                <select name="laboratorio" class="form-control">
                    <option value="">Todos los Laboratorios</option>
                    <option value="Laboratorio Planta Baja">Laboratorio Planta Baja</option>
                    <option value="Laboratorio Planta Alta">Laboratorio Planta Alta</option>
                    <option value="Laboratorio Bio-Microbiana">Laboratorio Bio-Microbiana</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" name="usuario" class="form-control" placeholder="Filtrar por usuario">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </form>

    <!-- Botón para mostrar/ocultar historial completo -->
    <div class="text-center mb-4">
        <a href="?page={{ request.GET.page }}&mostrar_historial={% if request.GET.mostrar_historial == 'true' %}false{% else %}true{% endif %}&estado={{ request.GET.estado }}&laboratorio={{ request.GET.laboratorio }}&usuario={{ request.GET.usuario }}" class="btn btn-info">
            {% if request.GET.mostrar_historial == 'true' %}
                Ocultar Historial Completo
            {% else %}
                Mostrar Historial Completo
            {% endif %}
        </a>
    </div>

    <!-- Tabla de Solicitudes -->
    {% for usuario, solicitudes in solicitudes_por_usuario.items %}
    <div class="card mb-4">
        <div class="card-header">
            <h3>Solicitudes de {{ usuario.username }}</h3>
        </div>
        <div class="card-body table-responsive">
            {% if solicitudes %}
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Usuario ID</th>
                        <th scope="col">Fecha de Solicitud</th>
                        <th scope="col">Laboratorio</th>
                        <th scope="col">Fecha de Reserva</th>
                        <th scope="col">Hora de Inicio</th>
                        <th scope="col">Hora de Fin</th>
                        <th scope="col">Requieren recursos</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes %}
                    <tr>
                        <td><input type="checkbox" name="solicitud" value="{{ solicitud.id }}"></td>
                        <td>{{ solicitud.id }}</td>
                        <td>{{ solicitud.usuario_id }}</td>
                        <td>{{ solicitud.fecha_solicitud }}</td>
                        <td>{{ solicitud.laboratorio }}</td>
                        <td>{{ solicitud.fecha_reserva }}</td>
                        <td>{{ solicitud.hora_inicio }}</td>
                        <td>{{ solicitud.hora_fin }}</td>
                        <td>{% if solicitud.tiene_recursos %}Sí{% else %}No{% endif %}</td>
                        <td>
                            <span class="badge 
                                {% if solicitud.estado == 'aprobada' %}bg-success
                                {% elif solicitud.estado == 'pendiente' %}bg-warning
                                {% else %}bg-danger{% endif %}">
                                {{ solicitud.estado }}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'ver_items_solicitud' solicitud.id %}" class="btn btn-info btn-sm me-2">Ver Ítems</a>
                            
                                <form action="{% url 'aprobar_solicitud' solicitud.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    {% if solicitud.estado == 'en_revision' %}
                                    <button type="submit" class="btn btn-primary btn-sm me-2">Aprobar</button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary btn-sm me-2 disabled" disabled>Aprobar</button>
                                    {% endif %}
                                </form>
                            
                                <a href="{% url 'rechazar_solicitud' solicitud.id %}" class="btn btn-danger btn-sm me-2 
                                                                      {% if solicitud.estado != 'en_revision' %} btn-disabled {% endif %}">
                                    Rechazar
                                </a>
                            </div>                                                                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-center">No hay solicitudes disponibles.</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <!-- Paginación -->
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Última</a>
            </li>
            {% endif %}
        </ul>
    </nav>    
</div>
{% endblock %}