<!-- Plantilla para usuario sin privilegios -->
{% extends "./base.html" %}


{% block title %}Reservación de Laboratorio{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilosSolicitudes.css' %}">
{% endblock %}

{% block body %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <strong class="text-dark">{{ message }}</strong>
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 100%; max-width: 800px;">
        <div class="card-header text-center bg-primary text-white">
            <h5 class="mt-2">Editar {{ solicitud.producto.nombre }} del Inventario</h5>
        </div>
        <div class="card-body" id="form-card">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fecha_reserva">Fecha de uso:</label>
                    <input type="date" class="form-control" id="fecha_reserva" name="fecha_reserva" 
                        value="{{ solicitud.fecha_uso|date:'Y-m-d' }}" required>
                </div>

                <div class="form-group">
                    <label for="motivo">Motivo:</label>
                    <textarea class="form-control" id="motivo" name="motivo" required>{{ solicitud.motivo }}</textarea>
                </div>

                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="text" class="form-control" id="cantidad" step="0.01" name="cantidad" value="{{ solicitud.cantidad_utilizada}}" required>
                </div>

                <div class="form-group">
                    <label for="unidad_medida">Unidad de medida:</label>
                    <select class="form-control" id="unidad_medida" name="unidad_medida" required>
                        {% with solicitud.unidad_medida|lower as unidad_guardada %}
                        <option value="Unidad" {% if "unidad" in unidad_guardada %}selected{% endif %}>Unidad</option>
                        <option value="kg" {% if "kg" in unidad_guardada %}selected{% endif %}>Kilogramo</option>
                        <option value="g" {% if "g" in unidad_guardada %}selected{% endif %}>Gramo</option>
                        <option value="mg" {% if "mg" in unidad_guardada %}selected{% endif %}>Miligramo</option>
                        <option value="L" {% if "l" in unidad_guardada %}selected{% endif %}>Litro</option>
                        <option value="mL" {% if "ml" in unidad_guardada %}selected{% endif %}>Mililitro</option>
                        {% endwith %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Actualizar</button>
                <!-- Botón para regresar -->
                <button onclick="window.history.back()" class="btn btn-secondary mt-3">Volver atrás</button>


            </form>
        </div>
    </div>
</div>

{% endblock %}