<!-- plantilla para usuario sin privilegios -->
{% extends "./base.html" %}
{% block title %}Reservación de Laboratorio{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilosSolicitudes.css' %}">
{% endblock %}

{% block body %}

<div class="container text-center mt-5">
    <div class="card mb-4">
    <h2 class="solicitud-title mb-4">Editar Recurso</h2>

    {% if messages %}
    <ul class="list-group mb-3">
        {% for message in messages %}
        <li class="list-group-item {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="cantidad_utilizada" class="form-label">Cantidad Utilizada:</label>
            <input type="text" id="cantidad_utilizada" name="cantidad_utilizada" class="form-control" value="{{ uso_item.cantidad_utilizada }}">
        </div>

        <div class="mb-3">
                    <label for="unidad_medida" class="form-label">Unidad de medida:</label>
                    <select class="form-control" id="unidad_medida" name="unidad_medida" required>
                        {% with uso_item.unidad_medida|lower as unidad_guardada %}
                        <option value="Unidad" {% if "unidad" in unidad_guardada %}selected{% endif %}>Unidad</option>
                        <option value="kg" {% if "kg" in unidad_guardada %}selected{% endif %}>Kilogramo</option>
                        <option value="g" {% if "g" in unidad_guardada %}selected{% endif %}>Gramo</option>
                        <option value="mg" {% if "mg" in unidad_guardada %}selected{% endif %}>Miligramo</option>
                        <option value="L" {% if "l" in unidad_guardada %}selected{% endif %}>Litro</option>
                        <option value="mL" {% if "ml" in unidad_guardada %}selected{% endif %}>Mililitro</option>
                        {% endwith %}
                    </select>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    {% if request.user.is_staff or request.user.is_superuser %}
        <a href="{% url 'administracion_laboratorios' %}" class="btn btn-secondary mt-3">Ir a administración de laboratorios</a>
    {% else %}
        <!-- Botón para regresar -->
        <button onclick="window.history.back()" class="btn btn-primary mt-3">Volver atrás</button>
    {% endif %}
    </div>
</div>

<script>
    function replaceCommaWithDot() {
        var cantidadInput = document.getElementById('cantidad_utilizada');
        cantidadInput.value = cantidadInput.value.replace(',', '.');
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');
        form.addEventListener('submit', replaceCommaWithDot);
    });
</script>
{% endblock %}