{% extends "./base.html" %}
{% block title %}Reservación de Laboratorio{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Solicitud de Laboratorio</h1>
    <form action="/reservarLaboratorio/" method="POST">
        {% csrf_token %}

        <!-- Información del Usuario -->
        <div class="card mb-4">
            <div class="card-body">
                <h3>Información del Usuario</h3>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtIdUsuario">Id:</label>
                        <input type="text" id="txtIdUsuario" name="txtIdUsuario" class="form-control" value="{{ request.user.id }}" readonly>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtUsuario">Nombre:</label>
                        <input type="text" id="txtUsuario" name="txtUsuario" class="form-control" value="{{ request.user.username }}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información del Laboratorio -->
        <div class="card mb-4">
            <div class="card-body">
                <h3>Información del Laboratorio</h3>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtFechaSolicitud">Fecha de Solicitud:</label>
                        <input type="date" id="txtFechaSolicitud" name="txtFechaSolicitud" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtLaboratorio">Laboratorio:</label>
                        <select id="txtLaboratorio" name="txtLaboratorio" class="form-control" required>
                            <option value="lab1">lab1</option>
                            <option value="lab2">lab2</option>
                            <option value="lab3">lab3</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtHoraEntrada">Hora de Entrada:</label>
                        <input type="time" id="txtHoraEntrada" name="txtHoraEntrada" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtHoraSalida">Hora de Salida:</label>
                        <input type="time" id="txtHoraSalida" name="txtHoraSalida" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información de Materiales -->
        <div class="card mb-4">
            <div class="card-body">
                <h3>Información de Materiales</h3>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtCantidadUtilizada">Cantidad Utilizada:</label>
                        <input type="number" step="0.01" id="txtCantidadUtilizada" name="txtCantidadUtilizada" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="txtFechaUso">Fecha de Uso:</label>
                        <input type="date" id="txtFechaUso" name="txtFechaUso" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="selectCategoria">Categoría de Material:</label>
                        <select id="selectCategoria" name="selectCategoria" class="form-control" required>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label for="selectMateriales">Materiales a utilizar:</label>
                        <select id="selectMateriales" name="selectMateriales" class="form-control" multiple required>
                            {% for material in materiales %}
                                <option value="{{ material.id_item }}">{{ material.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white w-100">Solicitar</button>
        </div>
    </form>
</div>
{% endblock %}

