<!-- plantilla para usuario sin privilegios --> 
{% extends "./base.html" %}

{% block title %}Reservación de Laboratorio{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilosSolicitudes.css' %}">
{% endblock %}

{% block body %}

{% if messages %}
<div class="alert alert-dismissible alert-success">
    {% for message in messages %}
    <strong class="text-dark">{{ message }}</strong>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 100%; max-width: 800px;">
        <div class="card-header text-center">
            <h5 class="mt-4">Solicitar Ítems del Inventario</h5>
        </div>
        <div class="card-body text-center" id="form-card">
            <form method="post">
                {% csrf_token %}
            
                <!-- Primera fila: Usuario y Fecha alineados horizontalmente -->
                <div class="form-group row">
                    <div class="col-md-6 mb-3">
                        <label for="usuario" class="text-center w-100">Usuario:</label>
                        <input type="text" class="form-control text-center" value="{{ request.user.username }}" readonly>
                        <input type="hidden" name="usuario" value="{{ request.user.id }}">
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label for="fecha_reserva">Fecha de Reserva:</label>
                        <input type="date" id="fecha_reserva" name="fecha_reserva" class="form-control" required>
                    </div>
                </div>
            
                <!-- Contenedor de Ítems -->
                <div id="items-container">
                    <div class="item-entry border p-3 mb-3">
                        <!-- Fila de selects: Categoría, Subcategoría e Ítem -->
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label>Categoría:</label>
                                <select class="form-control categoria" name="categoria[]" onchange="actualizarSubcategorias(this)" required>
                                    <option value="">Seleccione categoría</option>
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label>Subcategoría:</label>
                                <select class="form-control subcategoria" name="subcategoria[]" onchange="actualizarItems(this)" required disabled>
                                    <option value="">Seleccione subcategoría</option>
                                </select>
                            </div>
                            
                            <div class="col-md-4 mb-3">
                                <label>Ítem:</label>
                                <select class="form-control item" name="item[]" required disabled>
                                    <option value="">Seleccione ítem</option>
                                </select>
                            </div>
                        </div>
            
                        <!-- Fila de cantidad y unidad -->
                        <div class="form-group row">
                            <div class="col-md-6 mb-3">
                                <label>Cantidad a utilizar:</label>
                                <input type="number" name="cantidad[]" min="1" step="0.01" class="form-control" required>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="unidad_medida" class="text-center w-100">Unidad de Medida:</label>
                                <select name="unidad_medida[]" class="form-control" required>
                                    <option value="Unidad">Unidad</option>
                                    <option value="kg">kg (Kilogramo)</option>
                                    <option value="g">g (Gramo)</option>
                                    <option value="mg">mg (Miligramo)</option>
                                    <option value="lb">lb (Libra)</option>
                                    <option value="L">L (Litro)</option>
                                    <option value="mL">mL (Mililitro)</option>
                                    <option value="cm³">cm³ (Centímetro cúbico)</option>
                                    <option value="m³">m³ (Metro cúbico)</option>
                                    <option value="gal">gal (Galón)</option>
                                    <option value="m">m (Metro)</option>
                                    <option value="mm">mm (Milímetro)</option>
                                    <option value="cm">cm (Centímetro)</option>
                                    <option value="in">in (Pulgada)</option>
                                </select>
                            </div>
                        </div>
                        
                        <!-- Descripción -->
                        <div class="form-group">
                            <label for="motivo">Descripción del uso:</label>
                            <textarea id="motivo" name="motivo" class="form-control" rows="3" required></textarea>
                        </div>
                        
                        <div class="form-group row justify-content-center mt-4 gap-3">
                            <button type="button"
                                class="btn btn-danger btn-sm d-flex align-items-center justify-content-center text-center remove-item"
                                style="width: auto; border-radius: 12px; padding: 8px 16px;">
                                <i class="bi bi-x-circle me-2"></i> Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            
                <div class="form-group row justify-content-center mt-4 gap-3">
                    <!-- Botón "Agregar otro ítem" -->
                    <button type="button"
                        class="btn btn-primary d-flex align-items-center justify-content-center text-center"
                        id="agregar-item" style="width: auto; border-radius: 12px; padding: 8px 16px;">
                        <i class="bi bi-plus-circle me-2"></i> Agregar otro ítem
                    </button>
                    <!-- Botón "Guardar" -->
                    <button type="submit"
                        class="btn btn-success d-flex align-items-center justify-content-center text-center"
                        style="width: auto; border-radius: 12px; padding: 8px 16px;">
                        <i class="bi bi-check-circle me-2"></i> Guardar
                    </button>
                </div>
            </form>           
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="mt-5">Mis Solicitudes De Recursos</h2>
    <!-- Resumen de solicitudes -->
    <div class="row mb-4">
        <div class="col-12 col-md-4 mb-3">
            <div class="card bg-warning1 text-white">
                <div class="card-body">
                    <h5 class="card-title1">Solicitudes pendientes</h5>
                    <p class="card-text">{{ solicitudes_pendientes }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card bg-success1 text-white">
                <div class="card-body">
                    <h5 class="card-title1">Solicitudes aprobadas</h5>
                    <p class="card-text">{{ solicitudes_aprobadas }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card bg-danger1 text-white">
                <div class="card-body">
                    <h5 class="card-title1">Solicitudes rechazadas</h5>
                    <p class="card-text">{{ solicitudes_rechazadas }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtros avanzados -->
    <form method="get" action="{% url 'solicitar_recursos' %}" class="mb-4">
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" class="form-control" value="{{ request.GET.fecha }}">
            </div>
            <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary w-100">Buscar</button>
                <a href="{% url 'solicitar_recursos' %}" class="btn btn-secondary w-100 mt-2">Limpiar filtros</a>
            </div>
        </div>
    </form>

<!-- Botón para mostrar/ocultar historial completo -->
<div class="text-center mb-4">
    <a href="?page={{ request.GET.page }}&mostrar_historial={% if request.GET.mostrar_historial == 'true' %}false{% else %}true{% endif %}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}" class="btn btn-info">
        {% if request.GET.mostrar_historial == 'true' %}
            Ocultar Historial Completo
        {% else %}
            Mostrar Historial Completo
        {% endif %}
    </a>
</div>

<!-- Tabla de solicitudes -->
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Ubicacion</th>
                <th>Cantidad a utilizar</th>
                <th>Fecha de uso</th>
                <th>Motivo de uso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in page_obj %}
            <tr>
                <td>{{ solicitud.producto.nombre }}</td>
                <td>{{ solicitud.producto.ubicacion.nombre }}</td>
                <td>{{ solicitud.cantidad_utilizada }} {{ solicitud.unidad_medida }}</td>
                <td>{{ solicitud.fecha_uso|date:"Y-m-d" }}</td>
                <td>{{ solicitud.motivo }}</td>
                <td>
                    <span class="badge 
                    {% if solicitud.estado == 'aprobada' %}bg-success
                    {% elif solicitud.estado == 'rechazada' %}bg-danger
                    {% elif solicitud.estado == 'pendiente' %}bg-warning
                    {% elif solicitud.estado == 'en_revision' %}bg-info
                    {% endif %}">
                    {{ solicitud.estado }}
                    </span>
                </td>
                <td>
                    {% if solicitud.estado == 'pendiente' %}
                        <a href="{% url 'editar_productos' solicitud.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_productos' solicitud.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta solicitud?');">Eliminar</a>
                        <a href="{% url 'enviar_productos' solicitud.id %}" class="btn btn-primary">Enviar</a>
                    {% elif solicitud.estado == 'rechazada' %}
                        <a href="{% url 'eliminar_productos' solicitud.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta solicitud?');">Eliminar</a>
                    {% else %}
                        <button class="btn btn-secondary" disabled>Editar</button>
                        <button class="btn btn-danger" disabled>Eliminar</button>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No tienes solicitudes de reservación.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginación -->
<nav aria-label="Paginación">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Primera</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Anterior</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Siguiente</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&fecha={{ request.GET.fecha }}&laboratorio={{ request.GET.laboratorio }}&mostrar_historial={{ request.GET.mostrar_historial }}">Última</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
<script src="{% static 'js/appGestionLaboratorio.js' %}"></script>