<!-- plantilla para usuario sin privilegios -->
{% extends "./base.html" %}

{% load static %}
{% block title %}Reservación de Laboratorio{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilosSolicitudes.css' %}">
{% endblock %}

{% block body %}

{% if messages %}
<div class="alert alert-dismissible alert-success">
    {% for message in messages %}
    <strong class="text-dark">{{ message }}</strong>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 100%; max-width: 800px;">
        <div class="card-header text-center">
            <h5 class="mt-4">Solicitar Ítems del Inventario</h5>
        </div>
        <div class="card-body text-center" id="form-card">
            <form method="post" action="{% url 'solicitar_recursos' %}">
                {% csrf_token %}
                <div id="items-container">
                    <div class="form-group row align-items-center justify-content-center">
                        <div class="col-12 col-md-6 mb-3">
                            <label for="usuario" class="text-center w-100">Usuario:</label>
                            <input type="text" class="form-control text-center" value="{{ request.user.username }}"
                                readonly>
                            <input type="hidden" name="usuario" value="{{ request.user.id }}">
                        </div>
                    </div>

                    <div class="form-group row align-items-center justify-content-center">
                        <div class="col-12 col-md-6 mb-3">
                            <label for="solicitud" class="text-center w-100">Solicitud:</label>
                            <select name="solicitud" class="form-control" required onchange="updateFechaUso(this)">
                                <option value="">Selecciona una solicitud de laboratorio creada</option>
                                {% for solicitud in solicitudes %}
                                <option value="{{ solicitud.id }}" data-fecha="{{ solicitud.fecha_reserva }}">
                                    {{ solicitud.laboratorio }} - {{ solicitud.fecha_reserva }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 col-md-6 mb-3">
                            <label for="fecha_uso" class="text-center w-100">Fecha de Uso:</label>
                            <input type="date" id="fecha_uso" class="form-control" readonly>
                            <input type="hidden" name="fecha_uso" id="hidden_fecha_uso">
                        </div>
                        </div>
                        
                        <div class="item-entry">
                            <div class="form-group row align-items-center justify-content-center">
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="categoria" class="text-center w-100">Categoría:</label>
                                    <select name="categoria[]" class="form-control categoria" required onchange="actualizarSubcategorias(this)">
                                        <option value="">Seleccione categoría</option>
                                        {% for categoria in categorias %}
                                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <label for="subcategoria" class="text-center w-100">Subcategoría:</label>
                                    <select name="subcategoria[]" class="form-control subcategoria" required onchange="actualizarItems(this)"
                                        disabled>
                                        <option value="">Primero seleccione una categoría</option>
                                        {% for subcategoria in subcategorias %}
                                        <option value="{{ subcategoria.id }}" data-categoria="{{ subcategoria.categoria.id }}">
                                            {{ subcategoria.nombre }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        <div class="form-group row align-items-center justify-content-center">
                            <div class="col-12 col-md-6 mb-3">
                                <label for="item" class="text-center w-100">Ítem:</label>
                                <select name="producto[]" class="form-control item" required disabled>
                                    <option value="">Primero seleccione una subcategoría</option>
                                    {% for item in items %}
                                    <option value="{{ item.id }}" data-subcategoria="{{ item.subcategoria.id }}"
                                        data-cantidad="{{ item.cantidad_disponible }}"
                                        data-unidad="{{ item.unidad_medida.abreviatura }}" style="display: none;">
                                        {{ item.nombre }} ({{ item.cantidad_disponible }} {{
                                        item.unidad_medida.abreviatura }})
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 col-md-3 mb-3">
                                <label for="cantidad_utilizada" class="text-center w-100">Cantidad a Utilizar:</label>
                                <input type="number" name="cantidad_utilizada[]" step="0.01" class="form-control"
                                    required>
                            </div>
                            <div class="col-6 col-md-3 mb-3">
                                <label for="unidad_medida" class="text-center w-100">Unidad de Medida:</label>
                                <select name="unidad_medida[]" class="form-control" required>
                                    <option value="Unidad">Unidad</option>
                                    <option value="kg">kg (Kilogramo)</option>
                                    <option value="g">g (Gramo)</option>
                                    <option value="mg">mg (Miligramo)</option>
                                    <option value="lb">lb (Libra)</option>
                                    <option value="L">L (Litro)</option>
                                    <option value="mL">mL (Mililitro)</option>
                                    <option value="cm³">cm³ (Centímetro cúbico)</option>
                                    <option value="m³">m³ (Metro cúbico)</option>
                                    <option value="gal">gal (Galón)</option>
                                    <option value="m">m (Metro)</option>
                                    <option value="mm">mm (Milímetro)</option>
                                    <option value="cm">cm (Centímetro)</option>
                                    <option value="in">in (Pulgada)</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center mt-4 gap-3">
                            <button type="button"
                                class="btn btn-danger btn-sm d-flex align-items-center justify-content-center text-center remove-item"
                                style="width: auto; border-radius: 12px; padding: 8px 16px;">
                                <i class="bi bi-x-circle me-2"></i> Eliminar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group row justify-content-center mt-4 gap-3">
                    <!-- Botón "Agregar otro ítem" -->
                    <button type="button"
                        class="btn btn-primary d-flex align-items-center justify-content-center text-center"
                        id="agregar-item" style="width: auto; border-radius: 12px; padding: 8px 16px;">
                        <i class="bi bi-plus-circle me-2"></i> Agregar otro ítem
                    </button>
                    <!-- Botón "Guardar" -->
                    <button type="submit"
                        class="btn btn-success d-flex align-items-center justify-content-center text-center"
                        style="width: auto; border-radius: 12px; padding: 8px 16px;">
                        <i class="bi bi-check-circle me-2"></i> Guardar
                    </button>
                    <a href="{% url 'reservar_laboratorio' %}?modo=ambos" 
                     class="btn btn-secondary d-flex align-items-center justify-content-center text-center"
                     style="width: auto; border-radius: 12px; padding: 8px 16px;">
                     <i class="bi bi-arrow-left-circle me-2"></i> Volver
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<script src="{% static 'js/appGestionLaboratorio.js' %}"></script>