{% extends "base.html" %}

{% block title %}Gestión de Usuarios{% endblock %}

{% load static %}

{% block body %}

<!-- Mensajes -->
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <strong>{{ message }}</strong>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<!-- Est sección junto con el script de JS manejan el evento donde se puede mostrar una descripción al darle clic al enlace 
<a href="#" id="toggle-info">Más Información aquí</a> es un enlace que alterna el contenido.
<div id="info-section" class="d-none"> este contiene las descripciones y está oculto por defecto.
el Script de JavaScript. Maneja el evento de clic para mostrar/ocultar el contenido y cambiar el texto entre "Más Información aquí" y "Menos Información". 
-->
<div class="container my-2">
    <h1 class="text-center mb-4">Gestión de Usuarios</h1>
    <p class="lead text-center">
        Esta sección aprueba, deniega o deja pendiente cada registro que efectúan los usuarios.
        <a href="#" id="toggle-info" class="text-primary text-decoration-none">Más Información aquí.</a>
    </p>
    <div id="info-section" class="text-left text-muted d-none">
        <p><strong>✔Pendientes de Verificar:</strong> Usuarios registrados que aún no han sido aprobados ni denegados.
        </p>
        <p class="ms-5"><strong>Botón "Aprobar":</strong> Activa al usuario automáticamente para que pueda acceder al
            sistema como usuario no administrador (usuario común).</p>
        <p class="ms-5"><strong>Botón "Denegar":</strong> Elimina el registro de usuario. El usuario ni siquiera
            existirá más.</p>
        <p><strong>✔ Usuarios Aprobados:</strong> Aquellos que han sido activados y tienen acceso al sistema.</p>
        <p class="ms-5"><strong>Botón "Eliminar usuario":</strong> Borra al usuario de la lista de usuarios aprobados en
            la Base de Datos, también elimina al usuario permanentemente del sistema.</p>
        <p class="ms-5"><strong>Switch para cambiar el rol de usuario:</strong> Acá se puede cambiar el rol de usuario común a usuario administrador o viceversa.</p>
    </div>

    <script>
        document.getElementById("toggle-info").addEventListener("click", function (event) {
            event.preventDefault();
            let infoSection = document.getElementById("info-section");
            infoSection.classList.toggle("d-none");
            this.textContent = infoSection.classList.contains("d-none") ? "Más Información aquí." : "Menos Información.";
        });
    </script>

    <div class="row g-4 justify-content-center">
        <!-- Pendientes por aprobar -->
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header text-center bg-warning text-white">
                    <h2 class="h5 mb-0">Pendientes de Verificar</h2>
                </div>
                <div class="card-body">
                    {% if pending_users %}
                    <ul class="list-group">
                        {% for user in pending_users %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 font-weight-bold">{{ user.username }}</p>
                                <p class="text-muted">{{ user.email }}</p>
                                <p class="text-muted">Registrado el: {{ user.date_joined|date:"d M Y H:i" }}</p>
                                <!--El modelo User predeterminado de Django incluye un campo date_joined, el cual almacena la fecha de creación del usuario -->
                            </div>
                            <div class="d-flex flex-wrap gap-2">
                                <form method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">
                                        Aprobar
                                    </button>
                                </form>
                                <form method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" name="action" value="delete_approved_user" class="btn btn-danger btn-sm">
                                        Denegar
                                    </button>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-center text-muted">No hay usuarios pendientes por aprobar.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Usuarios aprobados -->
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header text-center bg-success text-white">
                    <h2 class="h5 mb-0">Usuarios Aprobados</h2>
                </div>
                <div class="card-body">
                    {% if approved_users %}
                    <ul class="list-group">
                        {% for user in approved_users %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <p class="mb-0 font-weight-bold">{{ user.user.username }}</p>
                                <p class="text-muted">{{ user.user.email }}</p>
                                <p class="text-muted">Aprobado el: {{ user.date_approved|date:"d M Y H:i" }}</p>
                                <p class="text-muted">Por: {{ user.created_by.username }}</p>
                        
                                <!-- Botón para eliminar usuario -->
                                <form method="post" class="d-inline mt-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ user.user.id }}">
                                    <button type="submit" name="action" value="delete_approved_user"
                                        class="btn btn-danger btn-sm"
                                        onclick="return confirm('¿Estás seguro? Esta acción borrará a este usuario de la lista de usuarios aprobados en la Base de Datos, también eliminará al usuario permanentemente del sistema.')">
                                        Eliminar usuario
                                    </button>
                                </form>
                        
                                <!-- Switch para cambiar rol (Administrador/Usuario común) -->
                                <form method="post" class="mt-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="toggle_superuser">
                                    <input type="hidden" name="user_id" value="{{ user.user.id }}">
                        
                                    <div class="form-check form-switch d-flex align-items-center mt-2">
                                        <input class="form-check-input me-2" type="checkbox" id="toggle_superuser_{{ user.user.id }}"
                                            name="toggle_superuser_switch"
                                            onchange="this.form.submit();" {% if user.user.is_superuser %}checked{% endif %}>
                                        <label class="form-check-label {% if user.user.is_superuser %}text-success{% else %}text-warning{% endif %}"
                                            for="toggle_superuser_{{ user.user.id }}">
                                            {% if user.user.is_superuser %}
                                                <i class="bi bi-person-check-fill"></i> Administrador
                                            {% else %}
                                                <i class="bi bi-person-dash-fill"></i> Usuario común
                                            {% endif %}
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </li>                        
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-center text-muted">No hay usuarios aprobados o estos han sido denegados.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}