th, td{
    text-align: center;
    vertical-align: middle;
}

/* Estilos para el título */
.Gris {
    color: rgb(121, 119, 119);
}

.Verde {
    color: greenyellow;
}

.alert-success { color: green; }
.alert-error { color: red; }
.alert-info { color: blue; }

table {
    border-collapse: collapse; /* Une los bordes de las celdas */
    width: 100%; /* Para ajustar al ancho disponible */
}
