{% extends 'base.html' %}

{% block body %}

<!-- Mensajes -->
{% if messages %}
<div class="alert alert-dismissible alert-success">
    {% for message in messages %}
    <strong class="text-dark">{{ message }}</strong>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-4">
    <h2>Lista de Productos</h2>
    <a href="{% url 'agregar_producto' %}" class="btn btn-primary mb-3">Agregar Producto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Subcategoría</th>
                <th>Cantidad</th>
                <th>Unidad de medida</th>
                <th>Estado</th>
                <th>Ubicación</th>
                <th>Fecha Agregado</th>

            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>{{ producto.subcategoria.nombre }}</td>
                <td>{{ producto.cantidad_disponible }}</td>
                <td>{{ producto.unidad_medida }}</td>
                <td>{{ producto.estado.get_estado_display }}</td>
                <td>{{ producto.ubicacion.nombre }}</td>
                <td>{{ producto.fecha_agregado }}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay productos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
