{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <script>
        // Redirige al usuario al home si ya está autenticado
        window.location.href = "{% url 'inicio' %}";  // Asegúrate de que 'inicio' sea el nombre de la URL correcta
    </script>
{% else %}
<div class="col-md-4 offset-md-4">
    <h2 class="text-center">
        <i class="bi bi-person-circle" style="font-size: 3rem; color: #007bff;"></i> <!-- Ícono colorido de persona -->
        Inicio de Sesión
    </h2>
    <div class="card">
        <div class="card-body">
            <form action="" method="POST"> 
                {% csrf_token %}
                
                <!-- Grupo de input con icono de usuario -->
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-person"></i> <!-- Icono de usuario -->
                        </span>
                        <input type="text" name="username" class="form-control" placeholder="Usuario" required>
                    </div>
                </div>

                <!-- Grupo de input con icono de candado -->
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="bi bi-lock"></i> <!-- Icono de candado -->
                        </span>
                        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                </div>

                <div class="form-group mb-3 d-flex justify-content-center align-items-center" style="height: 5vh;">
                    <button id="btn-Registrar" class="btn btn-success">Entrar</button>
                </div>
                
                <div class="clearfix"></div>
                <a href="#" class="text-primary text-center d-block mt-2">Aviso de Privacidad</a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
