{% extends "./base.html" %}

{% block title %} Gestion de Categorias {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        <div class="alert alert-dismissible alert-success">
            {% for message in messages %}
                <strong class="text-dark">{{ message }}</strong>
            {% endfor %}
        </div>
    {% endif %}
    
        <h1>Gestión de categorias</h1>
        <div class="card py-2">
            <div class="card-body">
                <form action="/registrarCategoria/" method="POST"> {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" minlength="5" maxlength="6" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripción" minlength="6" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white w-100">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Categorias</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>código</th>
                        <th>nombre</th>
                        <th>descripción</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in categorias %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.cod_categoria}}</td>
                        <td>{{c.nombre_categoria}}</td>
                        <td>{{c.descripcion}}</td>
                        <td><a href="edicionCategoria/{{c.cod_categoria}}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'eliminarCategoria' c.cod_categoria %}" class="btn btn-danger btnEliminacion" onclick=return>Eliminar</a></td>
                                                                                                                                  <!-- Onclick=return confirm: mandaría doble confirmacion de eliminado -->
                                                                                                                                   <!-- Onclick=return: solo una confirmacion -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}
