{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content_wrapper %}

<!-- Mensajes -->
{% if messages %}
<div class="alert alert-dismissible alert-success">
  {% for message in messages %}
  <strong class="text-dark">{{ message }}</strong>
  {% endfor %}
</div>
{% endif %}

<style>
  :root {
    --primary-color: #34495e;
    --secondary-color: #3498db;
    --light-color: #ecf0f1;
    --dark-bg-color: rgba(0, 0, 0, 0.7);
    --white: #ffffff;
    --gradient-bg: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  }

  body {
    background: var(--gradient-bg);
    color: var(--primary-color);
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .hero {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-color: var(--dark-bg-color);
    color: var(--white);
  }

  .hero::before {
    content: '';
    background: url('{% static "img/inicio.jpg" %}') no-repeat center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
  }

  .hero-content {
    position: relative;
    z-index: 1;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px var(--primary-color);
    margin-top: 20px;
  }

  .hero p {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .section-title {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    padding: 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .list-group-item,
  .card,
  .function-card {
    background-color: var(--white);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .list-group-item:hover,
  .card:hover,
  .function-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .btn-custom {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  .btn-custom:hover {
    background-color: #2980b9;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-logo-container img {
    max-width: 300px;
    padding: 5px 0;
  }

  .footer-content-container {
    background-color: rgb(5, 10, 90);
    color: var(--white);
    padding: 5px 0;
    text-align: center;
  }

  .footer-content-container .footer-text {
    font-size: 1.2rem;
  }

  .footer-content-container {
    color: var(--white);
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.1rem;
  }
</style>

{% if user.is_staff or user.is_superuser %}
<div class="container py-5">
  <div class="text-center hero">
    <div class="hero-content">
      <h1 class="display-4">Bienvenido al Sistema de Gestión de Inventario y Laboratorios</h1>
      <p class="lead">Este software está diseñado para facilitar la administración de los recursos y laboratorios de la
        carrera de Ingeniería en Biotecnología Industrial en UNP</p>
    </div>
  </div>

  <!-- Funciones principales -->
  <h2 class="section-title">Descripción General de las Funciones</h2>
  <div class="card-static">
    <p>
      <strong>Gestión de Inventario General:</strong> El usuario administrador llevará un control detallado del
      Inventario de los laboratorios de Biotecnología.
    </p>
    <p>
      <strong>Gestión de usuarios registrados:</strong> Permite al usuario aprobar o denegar un usuario registrado.
    </p>
    <p>
      <strong>Administración de Laboratorios:</strong> Manejo de la disponibilidad de los laboratorios, así como la
      aprobación o negación del uso de recursos de Inventario.
    </p>
    <p>
      <strong>Generación de Reportes:</strong> En esa sección se refleja y exporta un informe describiendo el uso de los
      laboratorios y el consumo de recursos.
    </p>
    <p>
      <strong>Guardar Inventario:</strong> Acá se guarda el Inventario General cuando el administrador lo desee, sin
      afectar el Inventario General en curso.
    </p>
    <p>
      <strong>Panel de Administración:</strong> Esta opción nos dirige al panel de administración donde los
      administradores llevan un mejor control del sistema.
    </p>
  </div>

  <p class="mt-4 text-center"
    style="font-style: italic; color: #2c3e50; font-size: 1.4rem; margin-top: 20px; padding: 15px; background-color: #eaf2f8; border: 2px solid #95a5a6; border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
    Por favor, selecciona una opción en el siguiente menú para comenzar
  </p>

  <h2 class="section-title">Opciones principales</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header"><strong>Gestionar Inventario</strong></div>
        <div class="card-body">
          <p>Gestiona eficazmente los recursos de Inventario</p>
          <a href="{% url 'gestionCategoria' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header"><strong>Administrar Laboratorios</strong></div>
        <div class="card-body">
          <p>Organiza la disponibilidad de los laboratorios y solicitudes de uso de recursos</p>
          <a href="{% url 'administracion_laboratorios' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
  </div>

  <h2 class="section-title">Control Detallado</h2>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><strong>Generar reportes</strong></div>
        <div class="card-body">
          <p>Consulta en reporte el uso de laboratorios y productos de inventario</p>
          <a href="{% url 'listar_reportes' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><strong>Guardar Inventario</strong></div>
        <div class="card-body">
          <p>Esta opción guarda el Inventario General en cualquier momento</p>
          <a href="{% url 'guardar_inventario_general' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="container py-5">
  <div class="text-center hero">
    <div class="hero-content">
      <h1 class="display-4">Bienvenido al Sistema de Solicitudes de Laboratorios y Recursos de Inventario </h1>
      <p class="lead">Este software está diseñado para la realización de solicitudes de uso de laboratorios, así como de
        recursos y herramientas para actividades académicas de la carrera de Ingeniería en Biotecnología Industrial en
        UNP</p>
    </div>
  </div>

  <!-- Funciones principales -->
  <h2 class="section-title">Descripción General de las Funciones</h2>
  <div class="card-static">
    <p>
      <strong>Reservación de Laboratorios</strong> Solicita el uso de los laboratorios de Biotecnología, esto pasará a
      aprobación del administrador.
    </p>
    <p>
      <strong>Solicitar recursos:</strong> Facilita la solicitud de recursos y herramientas propias de la carrera a
      ocupar, en base al laboratorio reservado.
    </p>
  </div>

  <p class="mt-4 text-center"
    style="font-style: italic; color: #2c3e50; font-size: 1.4rem; margin-top: 20px; padding: 15px; background-color: #eaf2f8; border: 2px solid #95a5a6; border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
    Por favor, selecciona una opción en el siguiente menú para comenzar
  </p>

  <h2 class="section-title">Solicita laboratorios y recursos</h2>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><strong>Reservación de Laboratorios</strong></div>
        <div class="card-body">
          <p>Solicita la disposición de los laboratorios de Biotecnología con fines académicos</p>
          <a href="{% url 'reservar_laboratorio' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><strong>Solicitar Recursos</strong></div>
        <div class="card-body">
          <p>Requiere herramientas, utensilios y productos para las actividades en los laboratorios</p>
          <a href="{% url 'solicitar_recursos' %}" class="btn btn-custom btn-block">Ir a la Opción</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<br>
<br>

<div class="footer-logo-container">
  <img src="{% static 'img/logoUNP1.png' %}">
</div>

<div class="footer-content-container">
  <div class="footer-text">© 2025 | Universidad Nacional Politecnica </br>
    "Todos los derechos reservados"
  </div>
  {% endblock %}