{% extends "./base.html" %}

{% block title %} Control de Inventario General {% endblock %}

{% block body %}

<!-- Mensajes -->
{% if messages %}
<div class="alert alert-dismissible alert-success">
    {% for message in messages %}
    <strong class="text-dark">{{ message }}</strong>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center" style="color: blue; padding-bottom: 1rem;">Inventario General</h1>

        <!-- Pestañas de Navegación -->
        <ul class="nav nav-tabs" id="inventoryTab" role="tablist">
            <!-- Pestaña "Ver Todo" -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ver-todo-tab" 
                    data-bs-toggle="tab" data-bs-target="#ver-todo" type="button" 
                    role="tab" aria-controls="ver-todo" aria-selected="true">
                    Ver Todo
                </button>
            </li>

            <!-- Separación visual -->
            <li class="nav-item">
                <span class="nav-link disabled" style="pointer-events: none; color: gray; margin: 0 10px;">|</span>
            </li>

            <!-- Texto de separación -->
            <li class="nav-item">
                <span class="nav-link disabled" style="pointer-events: none; color: gray;">Ver por Categorías:</span>
            </li>

            <!-- Pestañas de Categorías -->
            {% for categoria in Categorias %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="categoria-{{ categoria.id_categoria }}-tab" 
                    data-bs-toggle="tab" data-bs-target="#categoria-{{ categoria.id_categoria }}" type="button" 
                    role="tab" aria-controls="categoria-{{ categoria.id_categoria }}" aria-selected="false">
                    {{ categoria.nombre_categoria }}
                </button>
            </li>
            {% endfor %}
        </ul>
    
        <!-- Contenido de las Pestañas -->
        <div class="tab-content py-3" id="inventoryTabContent">
            <!-- Contenido de la pestaña "Ver Todo" -->
            <div class="tab-pane fade show active" id="ver-todo" role="tabpanel" aria-labelledby="ver-todo-tab">
                <h3 class="text-center" style="color: darkblue;">Vista de todo el Inventario</h3>
                {% for categoria in Categorias %}
                <br>
                <h3 class="text-center" style="color: blue;">Categoría: {{ categoria.nombre_categoria }}</h3>
                
                {% if categoria.subcategoria_set.exists %}
                {% for subcategoria in categoria.subcategoria_set.all %} <br>
                <h4 style="color: green;">Subcategoría: {{ subcategoria.nombre }}</h4>
                

                <!-- Tabla de ítems de la subcategoría -->
                <div class="table-responsive py-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ítems</th>
                                <th>Nombre</th>
                                <th>Cantidad Disponible</th>
                                <th>Unidad Medida</th>
                                <th>Descripción</th>
                                <th>Vencimiento(año,mes,día)</th>
                                <th>Lote</th>
                                <th>Observaciones</th>
                                <th>Num Serie</th>
                                <th>Num Cat</th>
                                <th>Marca/Características</th>
                                <th>Códigos</th>
                                <th>Artículos</th>
                                <th>Modelo</th>
                                <th>Colores</th>
                                <th>Capacidades</th>
                                <th>Accesorios</th>
                                <th>Medidas</th>
                                <th>Presentación</th>
                                <th>Info Adicional</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in subcategoria.inventario_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.cantidad_disponible|floatformat:2 }}</td>
                                <td>{{ item.unidad_medida|default:"-" }}</td>
                                <td>{{ item.descripcion|default:"-" }}</td>
                                <td>{{ item.vencimiento|date:"Y-m-d"|default:"-" }}</td>
                                <td>{{ item.lote|default:"-" }}</td>
                                <td>{{ item.observaciones|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.num_serie|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.num_cat|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.marca_caracteristica|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.codigo|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.articulo|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.modelo|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.colores|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.capacidad|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.accesorios|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.medidas|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.presentacion|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.informacionAdicional|default:"-" }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <!--d-flex justify-content-center esto pone centrado si es center, final si es end y start inicio-->
                                        <a href="{% url 'editarInventario' item.id %}" class="btn btn-primary btn-sm">Actualizar</a>
                    
                                        <a href="{% url 'eliminarInventario' item.id %}" class="btn btn-danger btn-sm" 
                                        onclick="return doubleConfirm('¿Estás seguro de que deseas eliminar este ítem?');">Eliminar</a>

                                        <!-- El siguiente es un script usando JS para validar doblemente la eliminación-->
                                        <script>  
                                            function doubleConfirm() {
                                                // Primera confirmación
                                                var firstConfirm = confirm("¿Estás seguro de que deseas eliminar este Item del Inventario?");
                                                if (firstConfirm) {
                                                    // Segunda confirmación
                                                    var secondConfirm = confirm("¡Esto es irreversible! ¿Estás seguro?");
                                                    if (secondConfirm) {
                                                        // Si ambos son confirmados, procedemos con la eliminación
                                                        return true;
                                                    } else {
                                                        // Si la segunda confirmación es cancelada, no hace nada
                                                        return false;
                                                    }
                                                } else {
                                                    // Si la primera confirmación es cancelada, no hace nada
                                                    return false;
                                                }
                                            }
                                        </script>
                                    </td>
                                </div>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="21" class="text-center">No hay ítems en esta subcategoría.</td>
                            </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>

                {% endfor %}
                {% else %}
                <p>No hay subcategorías en esta categoría.</p>
                {% endif %}
                {% empty %}
                <p class="text-center" style="color: red;">Aún no se ha agregado nada al Inventario.</p> <!--En el empty(en caso de no haber datos) se muestra el mensaje -->
                {% endfor %}
            </div>

            <!-- Contenido de las pestañas por Categoría -->
            {% for categoria in Categorias %}
            <div class="tab-pane fade" id="categoria-{{ categoria.id_categoria }}" 
                role="tabpanel" aria-labelledby="categoria-{{ categoria.id_categoria }}-tab">

                <h2 class="text-center" style="color: darkblue;">{{ categoria.nombre_categoria }}</h2>

                {% if categoria.subcategoria_set.exists %}
                {% for subcategoria in categoria.subcategoria_set.all %} <br>
                <h3 style="color: darkgreen;">Subcategoría: {{ subcategoria.nombre }}</h3>

                <!-- Tabla de ítems de la subcategoría -->
                <div class="table-responsive py-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ítems</th>
                                <th>Nombre</th>
                                <th>Cantidad Disponible</th>
                                <th>Unidad Medida</th>
                                <th>Descripción</th>
                                <th>Vencimiento(año,mes,día)</th>
                                <th>Lote</th>
                                <th>Observaciones</th>
                                <th>Num Serie</th>
                                <th>Num Cat</th>
                                <th>Marca/Características</th>
                                <th>Códigos</th>
                                <th>Artículos</th>
                                <th>Modelo</th>
                                <th>Colores</th>
                                <th>Capacidades</th>
                                <th>Accesorios</th>
                                <th>Medidas</th>
                                <th>Presentación</th>
                                <th>Info Adicional</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in subcategoria.inventario_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.cantidad_disponible|floatformat:2 }}</td>
                                <td>{{ item.unidad_medida|default:"-" }}</td>
                                <td>{{ item.descripcion|default:"-" }}</td>
                                <td>{{ item.vencimiento|date:"Y-m-d"|default:"-" }}</td>
                                <td>{{ item.lote|default:"-" }}</td>
                                <td>{{ item.observaciones|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.num_serie|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.num_cat|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.marca_caracteristica|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.codigo|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.articulo|default:"-" }}</td>
                                <td>{{ item.detalle_tecnico.modelo|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.colores|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.capacidad|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.accesorios|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.medidas|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.presentacion|default:"-" }}</td>
                                <td>{{ item.datos_complementarios.informacionAdicional|default:"-" }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <!--d-flex justify-content-center esto pone centrado si es center, final si es end y start inicio-->
                                        <a href="{% url 'editarInventario' item.id %}" class="btn btn-primary btn-sm">Actualizar</a>
                    
                                        <a href="{% url 'eliminarInventario' item.id %}" class="btn btn-danger btn-sm" 
                                        onclick="return doubleConfirm('¿Estás seguro de que deseas eliminar este ítem?');">Eliminar</a>

                                        <!-- El siguiente es un script usando JS para validar doblemente la eliminación-->
                                        <script>  
                                            function doubleConfirm() {
                                                // Primera confirmación
                                                var firstConfirm = confirm("¿Estás seguro de que deseas eliminar este Item del Inventario?");
                                                if (firstConfirm) {
                                                    // Segunda confirmación
                                                    var secondConfirm = confirm("¡Esto es irreversible! ¿Estás seguro?");
                                                    if (secondConfirm) {
                                                        // Si ambos son confirmados, procedemos con la eliminación
                                                        return true;
                                                    } else {
                                                        // Si la segunda confirmación es cancelada, no hace nada
                                                        return false;
                                                    }
                                                } else {
                                                    // Si la primera confirmación es cancelada, no hace nada
                                                    return false;
                                                }
                                            }
                                        </script>
                                    </td>
                                </div>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="21" class="text-center">No hay ítems en esta subcategoría.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>

                {% endfor %} 
                {% else %}
                <p>No hay subcategorías en esta categoría.</p>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
</div>

 <!-- Formato de CSS para la tabla -->
<style>
    /* Aplica bordes a toda la tabla */
    table {
        border-collapse: collapse; /* Une los bordes de las celdas */
        width: 100%; /* Para ajustar al ancho disponible */
    }
    
    /* Estilo de los bordes de las celdas */
    table th, table td {
        border: 2px solid #ddd; /* Color del borde */
        padding: 8px; /* Espaciado interno */
    }
    
    /* Alternar colores para las filas */
    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }
     /* Ajuste del contenido dentro de las celdas */
     table.table-striped th, table.table-striped td {
             /* escribir esto: "white-space: nowrap;" permitirá saltos de línea */
            overflow: hidden;       /* Esconder contenido excedente */
            text-overflow: ellipsis; /* Agregar "..." si el texto es largo */
        }
    </style>    
{% endblock %}
