{% extends "./base.html" %}
{% block title %} Ver Subcategorías {% endblock %}

{% block body %}
<div class="container my-3">
    {% if messages %}
        <div class="alert alert-dismissible alert-success">
            {% for message in messages %}
            <strong class="text-dark">{{ message }}</strong>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="mb-4">Subcategorías de la Categoría <span class="text-primary">{{ categoria.nombre_categoria }}</span></h2>
    
    {% if subcategorias %}
    <div class="list-group">
        {% for subcategoria in subcategorias %}
        <div class="col-md-8"> <!--Esto asegura que el div tenga un ancho de 8 columnas en pantallas medianas-->
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ subcategoria.nombre }}
                <span class="badge bg-primary rounded-pill">Detalles</span>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-warning mt-4">No se han registrado subcategorías para esta categoría.</div>
    {% endif %}
</div>

{% endblock %}
